<div class="row">
    <div class="col-lg">

    </div>    
    <div class="col-lg-4" id="form">
        <h2 id="form-title">Registro de usuario</h2>

        <div class="alert alert-warning" role="alert" *ngIf="error">
           Usuario no es correcto.
        </div>

        <form (ngSubmit)="save()" #forma="ngForm">

            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input name="name" #name="ngModel" [(ngModel)]="register.name" type="text" class="form-control" id="name"
                    placeholder="Introduce nombre"
                    [ngClass]="{ 'is-valid': !name.invalid, 'is-invalid': name.invalid }" required>
                <div *ngIf="name.invalid && ( name.dirty || name.touched )">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="name.errors.required">
                            Nombre es requerido.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Apellidos</label>
                <input name="lastName" #lastName="ngModel" [(ngModel)]="register.lastName" type="text" class="form-control" id="lastName"
                    placeholder="Introduce apellidos"
                    [ngClass]="{ 'is-valid': !lastName.invalid, 'is-invalid': lastName.invalid }" required>
                <div *ngIf="lastName.invalid && ( lastName.dirty || lastName.touched )">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="lastName.errors.required">
                            Apellidos es requerido.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input name="email" #email="ngModel" [(ngModel)]="register.email" type="email" class="form-control" id="email"
                    aria-describedby="emailHelp" placeholder="Introdice email"
                    [ngClass]="{ 'is-valid': !email.invalid, 'is-invalid': email.invalid }" required
                    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
                <div *ngIf="email.invalid && ( email.dirty || email.touched )">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="email.errors.required">
                            email es requerido.
                        </div>
                        <div *ngIf="email.errors && email.errors.pattern">
                            email no es correcto.
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" #password="ngModel" [(ngModel)]="register.password" placeholder="Introduce contraseña"
                    [ngClass]="{ 'is-valid': !password.invalid, 'is-invalid': password.invalid }" type="password"
                    class="form-control" id="password" required>
                <div *ngIf="password.invalid && ( password.dirty || password.touched )">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="password.errors.required">
                            password es requerido.
                        </div>
                    </div>
                </div>
            </div>
            <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>    
    <div class="col-lg">

    </div>    
</div>

